<ion-header class="ion-no-border">

    <div id="iconMenu">
        <ion-icon (click)="goToHomeCourse()" name="menu"></ion-icon>
    </div>

</ion-header>

<ion-content>

    <div style="text-align: center;">

        <img style="width: 50%;" src="assets/icon/logo.png">

        <h1 id="nomPrenom">{{utilisateur.nom}}</h1>
        <h5 id="adresse">{{utilisateur.adresse}}</h5>
        <p id="description">{{utilisateur.description}}</p>

    </div>
    <div style="text-align: center;">
        <ion-button (click)="goToModif()" expand="full" size="large" color="#E48234" style="color: #ffffff; background: #5A5959; margin-top: 60px !important;">Modifier Profil</ion-button>
        <ion-button (click)="goToHistoric()" expand="full" size="large" color="#E48234" style="color: #ffffff; background: #5A5959;">Courses Enregistrées</ion-button>
        <ion-button (click)="goToHome()" expand="full" size="large" color="#E48234" style="color: #ffffff; background: red;">Déconnexion</ion-button>
    </div>

</ion-content>