#iconMenu {
    margin: 24px;
    margin-bottom: 15px !important;
    font-size: 30px;
    color: #000000;
}

#nomPrenom {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 40px;
    color: #5A5959;
}

#adresse {
    margin-top: 2%;
    color: #5A5959;
    font-style: italic;
    font-size: medium;
}

#description {
    font-size: small;
    color: #7F21A0;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 6%;
}

ion-button {
    margin-top: 10%;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 4px;
}

ion-header {
    background-color: white;
    color: #000000;
    border: none !important;
}